{% extends "core/base.html" %}
{% block content %}

<h1>{{ course.title }}</h1>
<p>{{ course.description }}</p>

<hr>

<h2>📺 Videos</h2>

{% for video in videos %}
<div style="margin-bottom:10px">

<strong>{{ video.title }}</strong>

<a href="{% url 'watch_video' video.id %}">
<button>Watch Video</button>
</a>

</div>
{% empty %}
<p>No videos available.</p>
{% endfor %}

<hr>

<h2>📚 Course Notes</h2>

{% for material in materials %}
<div style="margin-bottom:10px">

<strong>{{ material.title }}</strong>

<a href="{{ material.file.url }}" target="_blank">
    <button>Open Notes</button>
</a>

</div>
{% empty %}
<p>No materials uploaded.</p>
{% endfor %}

<hr>

<h2>📝 Exams</h2>

{% for exam in exams %}
<div style="margin-bottom:10px">

<strong>{{ exam.title }}</strong>

<a href="{% url 'take_exam' exam.id %}">
<button>Take Exam</button>
</a>

</div>
{% empty %}
<p>No exams available.</p>
{% endfor %}

<hr>

<h2>🔴 Live Classes</h2>

{% if live_sessions %}
    {% for session in live_sessions %}
        <a href="{% url 'live_room' session.id %}">
            Join Live Class
        </a>
    {% endfor %}
{% else %}
    <p>No live class available</p>
{% endif %}

{% endblock %}
