<div class="max-w-3xl mx-auto card">

    <h2 class="section-title">
        <i class="fas fa-file-alt"></i> {{ exam.title }}
    </h2>

    <p class="text-gray-500 mb-4">
        Duration: {{ exam.duration_minutes }} mins
    </p>

    {% for question in questions %}
        <div class="mb-4">
            <p class="font-medium">
                {{ forloop.counter }}. {{ question.question_text }}
            </p>

            <div class="mt-2">
                <label><input type="radio" name="q{{ question.id }}"> {{ question.option_a }}</label><br>
                <label><input type="radio"> {{ question.option_b }}</label><br>
                <label><input type="radio"> {{ question.option_c }}</label><br>
                <label><input type="radio"> {{ question.option_d }}</label>
            </div>
        </div>
    {% endfor %}

</div>