<div class="max-w-xl mx-auto card">

    <h2 class="section-title">
        <i class="fas fa-upload"></i> Upload Material
    </h2>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <input type="text" name="title" placeholder="Title"
               class="w-full border p-2 rounded mb-3">

        <input type="file" name="file"
               class="w-full border p-2 rounded mb-3">

        <button class="btn btn-primary">
            <i class="fas fa-cloud-upload-alt"></i> Upload
        </button>
    </form>

</div>